/* Base */
@media screen and (min-width: 1px) {
  html {
    font-size: 14px; } }

@media screen and (min-width: 768px) {
  html {
    font-size: 16px; } }

body {
  position: absolute;
  top: 0;
  margin: 0;
  color: #e6e6e6; }

h1, h2, p, a {
  margin: 0;
  line-height: 1.48; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 1.8rem; }

p, a, button, input {
  font-size: 1rem; }

p {
  margin-top: 1em; }

a {
  text-decoration: none;
  color: #f2590d; }

a:hover {
  text-decoration: underline; }

.container {
  max-width: 100vw; }

@media screen and (min-width: 1px) {
  .container {
    padding: 0; } }

@media screen and (min-width: 768px) {
  .container {
    padding-left: 5vw;
    padding-right: 5vw; } }

@media screen and (min-width: 1366px) {
  .container {
    padding-left: 20vw;
    padding-right: 20vw; } }

/* Components */
nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0;
  top: 0;
  padding: 2em;
  margin: 5em 1em;
  background-color: #00030a;
  z-index: 3; }

nav a {
  color: #e6e6e6;
  font-size: 1.5em;
  font-weight: bold;
  margin: .5em; }

.intro {
  position: relative;
  overflow: none;
  width: 100vw;
  height: 90vh;
  background-color: #00030a;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.intro__flashlight {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50em;
  height: 50em;
  background-image: url(/public/images/dom-website-intro.png);
  border-radius: 50%;
  z-index: 5; }

.intro__flashlight:before {
  content: '';
  display: block;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,0a0a0a+60&0.31+0,1+60 */
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.31) 0%, #0d0d0d 40%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-radial-gradient(center ellipse, rgba(255, 255, 255, 0.31) 0%, #0d0d0d 40%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.31) 0%, #0d0d0d 40%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fffffff', endColorstr='#0a0a0a',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.intro__light {
  position: absolute; }

.intro__light:nth-child(1) {
  top: 10vh;
  left: 20vw; }

.intro__light:nth-child(2) {
  top: 70vh;
  left: 60vw; }

.intro__light:nth-child(3) {
  top: 50vh;
  left: 30vw; }

.intro__egg {
  top: 40vh;
  left: 50vw; }

.intro__light-glow {
  position: absolute;
  color: rgba(255, 242, 230, 0);
  -webkit-animation: glow1 1.5s ease-in-out infinite alternate;
          animation: glow1 1.5s ease-in-out infinite alternate; }

.intro__light:nth-child(1) .intro__light-glow {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  font-size: 3em; }

.intro__light:nth-child(2) .intro__light-glow {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  font-size: 6em; }

.intro__light:nth-child(3) .intro__light-glow {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  font-size: 4em; }

.intro__egg .intro__light-glow {
  -webkit-animation: glow2 3s ease-in-out infinite alternate;
          animation: glow2 3s ease-in-out infinite alternate;
  font-size: 8em;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.intro__disturb {
  position: absolute;
  top: 0;
  left: -30vw;
  width: 30vw;
  height: 50vw;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a0a0a+35,ffffff+59&1+35,0+59 */
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #00030a 30%, transparent 59%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-radial-gradient(center ellipse, #00030a 30%, transparent 59%);
  background: radial-gradient(ellipse at center, #00030a 30%, transparent 59%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.intro__disturb:nth-child(1) {
  -webkit-animation: disturb1 7s ease-in infinite;
          animation: disturb1 7s ease-in infinite; }

.intro__disturb:nth-child(2) {
  -webkit-animation: disturb2 10s ease-in infinite;
          animation: disturb2 10s ease-in infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.synopsis {
  background-color: #00030a; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333333;
  padding: 2em;
  margin-top: 2em;
  color: #e6e6e6;
  text-align: center; }

footer p {
  margin: 0; }

/* Animations */
@-webkit-keyframes glow1 {
  0%, 50% {
    text-shadow: none; }
  80% {
    text-shadow: 0 0 calc(0px + 10px) #fff2e6, 0 0 calc(20px + 10px) #fff2e6, 0 0 calc(30px + 10px) #fff2e6, 0 0 calc(40px + 10px) #ff8000, 0 0 calc(70px + 10px) #ff8000, 0 0 calc(80px + 10px) #ff8000, 0 0 calc(100px + 10px) #ff8000, 0 0 calc(150px + 10px) #ff8000; }
  100% {
    text-shadow: 0 0 calc(5px + 10px) #fff2e6, 0 0 calc(10px + 10px) #fff2e6, 0 0 calc(15px + 10px) #fff2e6, 0 0 calc(20px + 10px) #ff8000, 0 0 calc(35px + 10px) #ff8000, 0 0 calc(45px + 10px) #ff8000, 0 0 calc(50px + 10px) #ff8000, 0 0 calc(75px + 10px) #ff8000; } }
@keyframes glow1 {
  0%, 50% {
    text-shadow: none; }
  80% {
    text-shadow: 0 0 calc(0px + 10px) #fff2e6, 0 0 calc(20px + 10px) #fff2e6, 0 0 calc(30px + 10px) #fff2e6, 0 0 calc(40px + 10px) #ff8000, 0 0 calc(70px + 10px) #ff8000, 0 0 calc(80px + 10px) #ff8000, 0 0 calc(100px + 10px) #ff8000, 0 0 calc(150px + 10px) #ff8000; }
  100% {
    text-shadow: 0 0 calc(5px + 10px) #fff2e6, 0 0 calc(10px + 10px) #fff2e6, 0 0 calc(15px + 10px) #fff2e6, 0 0 calc(20px + 10px) #ff8000, 0 0 calc(35px + 10px) #ff8000, 0 0 calc(45px + 10px) #ff8000, 0 0 calc(50px + 10px) #ff8000, 0 0 calc(75px + 10px) #ff8000; } }

@-webkit-keyframes glow2 {
  0% {
    text-shadow: 0 0 calc(0px + 15px) #e6eeff, 0 0 calc(20px + 15px) #e6eeff, 0 0 calc(40px + 15px) #e6eeff, 0 0 calc(60px + 10px) #3377ff, 0 0 calc(90px + 10px) #3377ff, 0 0 calc(110px + 10px) #3377ff, 0 0 calc(140px + 10px) #3377ff, 0 0 calc(180px + 10px) #3377ff; }
  100% {
    text-shadow: 0 0 calc(5px + 15px) #e6eeff, 0 0 calc(0px + 15px) #e6eeff, 0 0 calc(5px + 15px) #e6eeff, 0 0 calc(10px + 10px) #3377ff, 0 0 calc(25px + 10px) #3377ff, 0 0 calc(35px + 10px) #3377ff, 0 0 calc(40px + 10px) #3377ff, 0 0 calc(65px + 10px) #3377ff; } }

@keyframes glow2 {
  0% {
    text-shadow: 0 0 calc(0px + 15px) #e6eeff, 0 0 calc(20px + 15px) #e6eeff, 0 0 calc(40px + 15px) #e6eeff, 0 0 calc(60px + 10px) #3377ff, 0 0 calc(90px + 10px) #3377ff, 0 0 calc(110px + 10px) #3377ff, 0 0 calc(140px + 10px) #3377ff, 0 0 calc(180px + 10px) #3377ff; }
  100% {
    text-shadow: 0 0 calc(5px + 15px) #e6eeff, 0 0 calc(0px + 15px) #e6eeff, 0 0 calc(5px + 15px) #e6eeff, 0 0 calc(10px + 10px) #3377ff, 0 0 calc(25px + 10px) #3377ff, 0 0 calc(35px + 10px) #3377ff, 0 0 calc(40px + 10px) #3377ff, 0 0 calc(65px + 10px) #3377ff; } }

@-webkit-keyframes disturb1 {
  0%, 90% {
    -webkit-transform: none;
            transform: none; }
  100% {
    -webkit-transform: translateX(150vw);
            transform: translateX(150vw); } }

@keyframes disturb1 {
  0%, 90% {
    -webkit-transform: none;
            transform: none; }
  100% {
    -webkit-transform: translateX(150vw);
            transform: translateX(150vw); } }

@-webkit-keyframes disturb2 {
  0%, 90% {
    -webkit-transform: translateX(150vw);
            transform: translateX(150vw); }
  100% {
    -webkit-transform: none;
            transform: none; } }

@keyframes disturb2 {
  0%, 90% {
    -webkit-transform: translateX(150vw);
            transform: translateX(150vw); }
  100% {
    -webkit-transform: none;
            transform: none; } }

/* Utilities */
.color-brand-1 {
  color: #f2b90d; }

.color-brand-2 {
  color: #f2590d; }

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-center-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.text-center {
  text-align: center !important; }
